#!/usr/bin/env bash
set -e

_DIR=`pwd`

init() {
if [ ! -e "$_DIR/$1/node_modules" ]; then
cd $_DIR/$1
npm install &
fi
}
init .
wait

real-favicon generate faviconDescription.json faviconData.json favicon 

